/* Utilities */

.name-white {
  font-size: 2.8rem;
}

.main-button {
  display: inline-block;
  margin-bottom: 1rem;
}

.main-button-white {
  display: inline-block;
}

/* Header and navigation bar */

.header {
  display: grid;
  justify-items: center;
}

.navbar ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.navbar ul li {
  justify-self: center;
}

/* Hero image */

.hero .heading {
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.main-heading {
  font-size: 4rem;
  padding: 2rem 0;
  text-shadow: 2px 2px var(--secondary-color);
}

.hero .main-links {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Skills */

#portfolio-skills {
  justify-items: stretch;
}

#portfolio-skills h1 {
  grid-column: 1 / 3;
}

#portfolio-skills .skill:last-child {
  grid-column: 1 / 3;
  justify-self: center;
}

.skill {
  border: var(--secondary-bg-color);
}

.skill img {
  padding-bottom: 1rem;
}
.skill h3 {
  font-size: 0.9rem;
}

/* About Me */

#about-me img {
  width: 40%;
}

/* Footer */
.footer {
  grid-template-columns: 1fr;
  justify-items: center;
}

.footer .navbar a {
  font-size: 0.8rem;
}

/*  Contact form */

.footer-contact {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.footer-contact a {
  justify-self: center;
}

.footer p {
  padding: 1rem 0 0 1rem;
}
