:root {
  font-family: "Source sans pro", sans-serif;

  /* Variables */
  --main-bg-color: #fff;
  --primary-bg-color: #333;
  --secondary-bg-color: #eee;
  --main-color: #fff;
  --secondary-color: #333;
  --main-button: #000;
}

*html {
  box-sizing: border-box;
  line-height: 1.5rem;
  background: var(--main-bg-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Utilities style */

h1 {
  font-size: 2.1rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--main-color);
}

a:hover {
  color: var(--secondary-color);
  font-size: 1rem;
}

img {
  width: 100%;
}

.main-heading {
  font-size: 4.5rem;
  text-shadow: 2px 2px var(--secondary-color);
}

.name-uppercase {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.name-white {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(179, 178, 178);
  text-shadow: 3px 3px var(--secondary-bg-color);
}

.main-button {
  background: var(--main-button);
  padding: 1rem 3rem;
  border-radius: 2rem;
  margin-right: 1.5rem;
}

.main-button:hover {
  background-color: var(--secondary-bg-color);
  border: 2px solid var(--main-button);
}

.main-button-white {
  background: var(--main-bg-color);
  color: var(--secondary-color);
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.main-button-white:hover {
  background-color: var(--main-button);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.button-contact {
  background: var(--primary-bg-color);
  color: var(--main-color);
  font-size: 1rem;
  border-radius: 2rem;
}

.button-contact:hover {
  color: var(--main-button);
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-button);
}

input {
  border: 0;
}

/* Main style */

/* Header style including navigation bar */

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--secondary-color);
  color: var(--main-color);
}

.navbar {
  display: grid;
  justify-items: center;
  justify-content: end;
  align-content: center;
  padding: 1rem 1rem 1rem 1rem;
}

.navbar ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: stretch;
  align-content: center;
}

.navbar ul li {
  align-self: center;
  justify-self: stretch;
  text-align: center;
}

.navbar ul li a {
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
}

.navbar ul li a:hover {
  color: var(--secondary-color);
  background: var(--main-bg-color);
  font-size: 1rem;
  font-weight: bold;
}

/* Hero style */

.hero {
  background: url(../images/bambu.jpg) no-repeat center center / cover;
  min-height: 45vh;
  color: #fff;
  padding-left: 4rem;
  padding-top: 4rem;
  line-height: 2rem;
}

.hero p {
  padding-top: 3rem;
}

.hero .heading {
  font-size: 2.5rem;
}

.hero .main-links {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Section projects */

#projects {
  padding-top: 2rem;
}

.wrapper-projects {
  padding: 2rem 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  text-align: center;
}

/* Section skills */

#portfolio-skills {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  gap: 1rem;
  padding: 1rem 10rem;
  justify-items: center;
  align-items: stretch;
  justify-content: center;
  align-content: space-around;
  text-align: center;
}

#portfolio-skills h1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.skill {
  box-shadow: 0.1rem -0.1rem 0.9rem 0.1rem #a9a9a9;
  padding: 2rem 2rem;
}

.skill img {
  width: 5rem;
  height: 5rem;
}

/* Section About me, including an image, text and link to contact form */

#about-me {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  padding: 1rem 3rem 3rem 3rem;
}

#about-me img {
  justify-self: center;
  align-self: center;
  width: 60%;
  box-shadow: -1rem -0.5rem 1rem -0.5rem #a9a9a9;
}

#about-me .information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#about-me .information p {
  padding-bottom: 4rem;
}

/* Footer */

.footer,
.footer-contact {
  background: var(--secondary-color);
  color: var(--main-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer p {
  padding: 1rem 0 0 2rem;
}

.footer .navbar ul {
  grid-template-columns: repeat(3, 1fr);
  justify-self: end;
  align-self: center;
}

/* Style for the contact form */

.contact {
  margin: auto;
  max-width: 80vw;
  background: var(--secondary-bg-color);
}

.contact-form {
  line-height: 2rem;
  padding: 2% 5%;
  border-right: 2px solid var(--primary-bg-color);
  border-left: 2px solid var(--primary-bg-color);
}

.contact-form p {
  font-size: 1.2rem;
  font-weight: bold;
}

.contact-form .wrapper {
  font-size: 1.1rem;
}
.form label {
  display: block;
}
.form input {
  width: 40%;
  padding: 1%;
}
.form input.button-contact {
  width: 20%;
}
.form textarea {
  width: 70%;
  padding: 1%;
}

.footer-contact {
  padding-right: 5%;
}
.footer-contact p {
  padding: 3% 5%;
}
.footer-contact a {
  align-self: center;
  justify-self: end;
  padding: 3% 2%;
}

.footer-contact a:hover {
  color: var(--secondary-color);
  background: var(--main-bg-color);
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  /* Mobile max-width : 768px */

  /* Portfolio-skills */

  .skill {
    border: 1px solid rgb(208, 208, 208);
  }

  .skill img {
    width: 4rem;
    max-height: 4rem;
  }

  /* About me */

  #about-me {
    grid-template-columns: 1fr;
  }

  #about-me .information {
    padding-top: 2rem;
    align-items: center;
  }

  #about-me .information p {
    padding-bottom: 3rem;
  }

  .name-white {
    font-size: 2.5rem;
  }

  .name-uppercase {
    font-size: 1.5rem;
  }

  #about-me img {
    align-self: center;
    width: 30%;
  }

  /* footer */

  .footer {
    grid-template-columns: 1fr 1.5fr;
  }
  .footer-contact {
    grid-template-columns: 1fr;
  }

  .footer .navbar ul {
    grid-template-columns: repeat(3, 2fr);
  }

  .footer p {
    padding: 1rem 0 0 1rem;
  }
}
